!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title New Website
    script(src='js3rdparty/jquery/jquery-1.7.2.min.js')
    script(src='js3rdparty/sockjs-0.2.1.min.js')
    script(src='js/lib/vertxbus.js')
    script(src='js/lib/buffered.vertxbus.js')

    script(src='js3rdparty/lodash.js')
    script(src='js3rdparty/uuid.js')

    script
      eb = new BufferedEventBus(window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/eventbus")

  body
    | It works!